@media only screen and (max-width : 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row{
        padding: 0 2%;
    }
}

@media only screen and (max-width : 1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
}

@media only screen and (max-width : 767px){
    body{font-size: 16px;}
    section{padding: 30px 0;}
    .row,.hero-text-box{padding: 0 4%;}
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    /*.main-nav{display: none;}*/
        
    .small-nav-icon{
        display: inline-block;
    }
    
    .main-nav{
        float: left;
        margin-left: 25px;
        margin-top: 25px;
    }
    
    .main-nav li{
        display: block;
        
    }
    
    .main-nav li a:link,
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 10px;  
    }
    
    
    .sticky-nav .main-nav{
    margin-top: 10px;
}

    .sticky-nav .main-nav li a:link,
    .sticky-nav .main-nav li a:visited{
    padding: 10px 0; 
    
}
    .sticky-nav .small-nav-icon li{
          color: #555;
    }
    h1{font-size: 180%;}
    h2{font-size: 150%;}
    
     
    
}

@media only screen and (max-width : 480px){
    
}